@model CoverType
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Delete Data";
}
<form method="post" asp-action="Delete">
@*    <form method="post" asp-action="DeletePost">*@
    <input asp-for="Id" hidden/>
<div class="border p-3 nt-4" style="border-color:black; background-color:pink">
    <div class="text-center">
        <label>DELETE DATA</label>

    </div>
    <br />
        @* <div asp-validation-summary="All"></div>*@
    <br />
    <label asp-for="Name" ></label>
    <input asp-for="Name" class="form-control" disabled/>
    <br />
    <br />
        @*   <label asp-for="Masuk"></label>
    <input asp-for="Masuk" type="datetime-local" class="form-control"/>
    <br />
    <br />*@
    <br />
    <button type="submit" class="btn btn-denger" style="background-color:darkred; -webkit-text-fill-color:white">Delete</button>
    <a asp-controller="CoverType" asp-action="Tampilan" class="btn-secondary" style="width:150px; background-color:cornflowerblue"> Back to List</a>


</div>
</form>